.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-image: url('../../../public/Main1.png');
  width: 100%;
  padding: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.imgRectangle {
  position: absolute;
  transform: rotate(310deg);
  z-index: -9;
  height: 270px;
  width: 70px;
  border: #fff solid 1px;
  border-radius: 35px;

}

.imgRectangle2 {
  position: absolute;
  transform: rotate(310deg);
  z-index: -10;
  height: 270px;
  width: 70px;
  left: 50%;
  background: linear-gradient(180deg, #CB1010 0%, rgba(106, 16, 67, 0.88) 48.77%, #051178 100%);
  border-radius: 35px;

}


.img3 {
  position: relative;
  width: 250px
}


.title {
  position: relative;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
  color: white;
  padding: 40px;
  z-index: 10;
  margin: 40px;
  justify-content: center;

}

.mainTitle {
  line-height: 50px;

}

.subtitle {
  width: 100%;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  font-family: Roboto;
  position: relative;
  padding: 20px;
  color: white;
  justify-content: flex-end
}

.sub {
  display: flex;
  justify-content: right;

}

.btn {
  padding: 10px;

}

.btn-main {
  align-items: flex-end;
  padding: 0px 40px;
  position: relative;
  width: 165px;
  height: 48px;
  background: linear-gradient(180deg, #051178 0%, rgba(222, 208, 250, 0.99) 100%);
  border-radius: 24px;
  border: none;
  font-family: roboto;
  font-weight: 700;
  font-size: 16px;
}

.btn-main:hover {
  background: #051178;
  color: #fff;
}

/*-------------------------- MOBILE -------------------------*/

@media screen and (max-width: 360px) {
  .imgRectangle {
    height: 230px;
  }

  .imgRectangle2 {
    height: 230px;
  }
}

@media screen and (max-width: 760px) {
  .mainTitle {
    line-height: 35px;
    font-size: 12px;

  }

  .title {
    padding: 10px;
    margin: 30px;

  }

  .img1 {
    width: 60%;
  }

  .img2 {
    width: 60%;
  }

  .img3 {
    width: 180px;
  }

  .subtitle {
    padding: 10px;

  }

  .sub {
    display: flex;
    font-size: 12px;

  }

  .btn-main {
    width: 130px;
    height: 38px;

  }

}


/*-------------------------- xtra large views -------------------------*/

@media screen and (min-width: 1050px) {
  .mainTitle {
    line-height: 50px;
    font-size: 20px;
    margin: 40px;
  }

  .img3 {
    width: 280px;
  }

  .sub {
    display: flex;
    font-size: 16px;

  }

  .btn-main {
    width: 140px;
    height: 48px;

  }
}

@media screen and (min-width: 1550px) {
  .imgRectangle {
    display: none;
  }

  .imgRectangle2 {
    display: none;
  }
}