* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-about {
    position: relative;
    display: flex;
    background-color: rgb(251, 247, 247);
    font-family: roboto;
    width: 100%;
    z-index: 2;
    
    
}

.draw {
    padding: 30px;
    width: 500px;
    position: relative;
   
}

.bigImg {
    position: absolute;
    width: 100%;


}

.smallImg {
    position: absolute;
    width: 60%;
    top: 150px;
    right: 0;

}

.about {
    position: relative;
    width: 60%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
  
}

.about-description {

    padding: 20px 40px;

}

.btn-about {

    padding: 0px 40px;
    width: 165px;
    height: 48px;
    background: linear-gradient(180deg, #051178 0%, rgba(222, 208, 250, 0.99) 100%);
    border-radius: 24px;
    border: none;
    font-family: roboto;
    font-weight: 700;
    font-size: 16px;
}

.btn-class {
    padding: 20px;
    display: flex;
    align-items: center ;
    justify-content: flex-end;
}

.btn-about:hover {
    background: #051178;
    color: #fff;
}

@media screen and (max-width: 1023px) {

    .container-about {
        display: flex;
        flex-wrap: wrap;
    }

    .draw {
        width: 70%;
        height: 16em;

    }

    .about {
        width: 100%;
        padding: 0;
    }
}