.oem-container {
    background: #010630;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.oem-title {
    color: #fff;
    padding: 40px;
    width: 60%;
    line-height: 50px;
    height: auto;
}

.imgUsa {
    width: 35%;
    display: flex;
    align-items: center;
    height: auto;

}

.imgOEM {
    width: 100%;
}

.patco {
    width: 25%;
}

.imgTelco {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.btn-oem {
    align-items: flex-end;
    padding: 0px 40px;
    position: relative;
    width: 165px;
    height: 48px;
    background: linear-gradient(180deg, #051178 0%, rgba(222, 208, 250, 0.99) 100%);
    border-radius: 24px;
    border: none;
    font-family: roboto;
    font-weight: 700;
    font-size: 16px;
}

.btn-oem-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.btn-oem:hover {
    background: #051178;
    color: #fff;
}

/*------------------------- MObile -----------------------*/
@media screen and (max-width: 1000px) {
    .oem-title {
        width: 100%;
    }

    .imgUsa {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .imgOEM {
        padding-bottom: 20px;
        width: 80%;
    }
}