.aboutView {
    background-image: url(../../img/main.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-size: 14PX;

}

.aboutView-container {

    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: space-evenly;
    width: 100%;

}

.clientsAboutView {
    width: 100%;
    padding-bottom: 0px;

}

.descriptionAboutView {

    width: 45%;
    margin: 25px;
    padding: 20px;
    font-family: roboto;
    font-size: 16px;
    line-height: 25px;

}

.descriptionAboutView ul {
    margin-left: 35px;
}

.titleAbout {
    border-bottom: solid 2px #fff;
    margin-bottom: 20px;
}

.imgAboutViewv {
    margin: 25px;
    width: 45%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-self: center;

}

.img1 {
    width: 80%;
}


/*-------------------------- mobile views -------------------------*/

@media screen and (max-width: 780px) {

    .descriptionAboutView {
        width: 90%;
    }

    .imgAboutViewv {
        height: 30%;
        width: 90%
    }

    .aboutView {

        height: 100%
    }
}

/*-------------------------- mobile views -------------------------*/

@media screen and (max-width: 480px) {


    .imgAboutViewv {
        height: 15%;
        width: 70%
    }}